{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="avatar" 
            style="background: url({{instructor.avatar_url}}) 
            no-repeat center center/ cover"> 
        </section>

        <section class="details">                         <!--Onde se implementa a troca de metodo ?_method -->
            <form  method="POST" action="/instructors?_method=PUT">
                <h3>Details</h3>

                {% include 'instructors/fields.njk'%}


                    <input type="hidden" name="id" value="{{instructor.id}}">
                    <div class="btn_CD"> <button type="submit" class="btn_edit2">Confirm</button></div>
                       
            </form>


            <form action="/instructors?_method=DELETE" method="POST" id="form_delete">
                    <input type="hidden" name="id" value="{{instructor.id}}">
                    <div class="btn_CD"><button type="submit" class="btn_delete">DELETE</button></div>
                    
            </form>
        </section>

    </div>
{% endblock content %}  