{% extends "layout.njk" %}

{% block content %}
<div class="card table_card">
<a href="/instructors/create" class="new_ins">NEW</a>
   <table class="index_table">
        <thead class="index_header">
            <tr>
                <th>Instructor </th>
                <th>Services </th>
                <th>Profile </th>
            </tr>
        </thead>
        
        <tbody class="index_body">
        {% for instructor in instructors %}
            <tr>
                <td>
                <span style="background-image:  url({{instructor.avatar_url}})"></span>
                {{instructor.name}}
                </td>
                <td  class="trampo">{{instructor.services}}</td>
                <td>
                <a href="/instructors/{{instructor.id}}" 
                class="index_show">Show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
   </table>
</div>
{% endblock content %}