<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
    <div class="links">
        <a  id="layout_header"href="/instructors" class="">Instructors</a>
        <a  id="layout_header" href="/members" class="" >Members</a>
    </div>
    </header>

    {% block content %}

    {% endblock %}
 <script src="../../../public/scripts.js"></script>
 </body>
</html>
