{% extends "layout.njk" %}

{% block content %}
<div class="card table_card">

   
     <div class="header">

        <div class="btn_header">
         <a href="/members/create" >NEW</a>
        </div>

    
    
        <div >  
            <form action="/members" method="GET">
       
                   <div > <input type="text" name="filter" 
                   placeholder="     typing a name or service"  
                   value="{{filter}}"> </div>


    
                <div ><button type="submit"  class="btn_header" >SEARCH</button> </div>
            </form>
        </div>
            
      
    </div>

    <table class="index_table">
        <thead class="index_header">
            <tr>
                <th>Instructor </th>
                <th>Services </th>
                <th>Profile </th>
            </tr>
        </thead>
        
        <tbody class="index_body">
        {% for member in members %}
            <tr>
                <td>
                <span style="background-image:  url({{member.avatar_url}}url{{instructor.avatar_url}})"></span>
                {{member.name}}
                </td>
                <td  class="trampo">{{member.services}}</td>
                <td>
                <a href="/members/{{member.id}}" 
                class="index_show">Show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
   </table>
     <div class="pagination"
        data-page = {{pagination.page}}      
        data-total = {{pagination.total}}
        data-filter = {{filter}}>
        
    </div>
</div>
{% endblock content %}